AVDOMAIN="{{ default_domain }}"
AVUSER="admin@{{ default_domain }}"
CREATEADMIN="admin@{{ default_domain }}"
CREATEDOMAIN="{{ default_domain }}"
DOCREATEADMIN="yes"
DOCREATEDOMAIN="yes"
DOTRAINSA="yes"
ENABLEGALSYNCACCOUNTS="yes"
EXPANDMENU="no"
HOSTNAME="{{ hostname }}"
LDAPADMINPASS="{{zimbra_main_password }}"
LDAPAMAVISPASS="{{zimbra_main_password }}"
ldap_bes_searcher_password="{{zimbra_main_password }}"
LDAPHOST="{{ ldap_hostname }}"
ldap_nginx_password="{{zimbra_main_password }}"
LDAPPORT="389"
LDAPPOSTPASS="{{zimbra_main_password }}"
LDAPREPLICATIONTYPE="master"
LDAPREPPASS="{{zimbra_main_password }}"
LDAPROOTPASS="{{zimbra_main_password }}"
LDAPSERVERID="2"
SMTPDEST="admin@{{ default_domain }}"
SMTPHOST="{{ mta_hostname }}"
SMTPNOTIFY="yes"
SMTPSOURCE="admin@{{ default_domain }}"
zimbraPrefTimeZoneId="Europe/Warsaw"
zimbraVersionCheckNotificationEmail="admin@{{ default_domain }}"
zimbraVersionCheckNotificationEmailFrom="admin@{{ default_domain }}"
zimbraVersionCheckSendNotifications="TRUE"
